FormView {
    -fx-start-margin: 50;
    -fx-font-size: 10;
    -fx-text-fill: #1b1b49;
    -fx-grid-lines-visible: false;
    -fx-background-color: transparent;
}

SplitView {
    -fx-background-color: linear-gradient(to top, #1dbbdd44, #93f9b944);
}


#top {
    -fx-background-color: #93f9b944;
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-position: right center;
}

#bottom {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-font-size: 8;
    -fx-text-alignment: right;

}

.button {
    -fx-background-color: #fb9964;
    -fx-font-size: 12;
}

#addNewButton, #deleteButton {
    -fx-background-color: #d7ea18;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-font-size: 12;
}


#heritageTable {
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-font-size: 10;
    -fx-grid-lines-visible: false;
    -fx-background-color: transparent;
}


#formTitle {
    -fx-font-size: 30;
    -fx-text-fill: #1b1b49;
}

////

.table-view {
    -fx-background-color: transparent;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label,
.table-view .column-header-background .filler .label {
    -fx-font-weight: bold;
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #b43ad3;
}

.table-row-cell: selected {
    -fx-text-background-color: #1b1b49;
    -fx-font-weight: bold;

}

.table-row-cell: odd{
    -fx-background-color: rgba(191, 241, 213, 0.27);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: rgba(204, 244, 255, 0.27);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;

}




