

GridPane {
-fx-background-color: #0000ff;
    -fx-max-height: 20px;
}

VBox {
    -fx-background-color: #9cc;

}

HBox {
    -fx-background-color: #9cc;
}

.button {
    -fx-background-color: pink;

}